<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.quzy.coding">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />


    <application
        android:name=".base.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.activity.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".MainActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.BackGroundActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.TextSampleActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.GuideLayerActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.QuickPositionActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.RecyclerViewSampleActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.HeadViewRecyclerViewActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.NormalRecyclerViewActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.StaggeredGridActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.StandardMultiActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.SectionedRecyclerViewActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.SectionedRecyclerTestViewActivity"
            android:screenOrientation="portrait"/>
    </application>

</manifest>